<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Aquí se guarda la cadena de conexión a la base de datos NeptunoDB.
       La leemos en tiempo de ejecución con ConfigurationManager. -->
  <connectionStrings>
    <add name="NeptunoDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NeptunoDB;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
